[user]
	email = cedric.sauriol@hotmail.com
	name = Cédric Sauriol
[alias]
        # Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
