alias ..="cd ../"
alias ...="cd ../.."
alias ....="cd ../../.."

alias ff="firefox www.youtube.com www.facebook.com"

alias tree="tree -a -I 'git|.git|build|dist|bin|nbproject|target'"

alias pwr="sudo shutdown now"
alias slp="systemctl suspend"
alias clr="clear"
